<div class="column column-20">
  <aside id="doc_nav">

<h5>User guide</h5>
<ul>



<li class=""><a href=""></a></li>



<li class=""><a href="/docs/installing/">Installing Albert</a></li>



<li class=""><a href="/docs/using/">Using Albert</a></li>



<li class=""><a href="/docs/extending/">Extending Albert</a></li>



<li class=""><a href="/docs/theming/">Theming Albert</a></li>



<li class=""><a href="/docs/faq/">Troubleshooting</a></li>

</ul>


<h5>Dev guide</h5>
<ul>



<li class=""><a href="/docs/extending/native/">Native plugins</a></li>



<li class=""><a href="/docs/extending/external/">External plugins</a></li>

</ul>


<h5>Meta</h5>
<ul>



<li class=""><a href="/docs/contributing/">Contributing</a></li>



<li class=""><a href="/docs/changelog/">Changelog</a></li>

</ul>


</aside>

</div>
