<nav class="site-header">
<div class="container">
  <a class="title" href="{{ site.baseurl }}">
      <img class="icon" src="{{ site.baseurl }}/assets/images/albert.svg" alt="Albert" title="Albert">
      <span class="title">Albert</span>
  </a>
  <nav class="navigation float-right">
      <ul>
<li class="">
  <a href="/">Home</a>
</li>
<li class="">
  <a href="/docs/">Docs</a>
</li>
<li class="">
  <a href="/news/">News</a>
</li>
<li class="">
  <a href="/help/">Help</a>
</li>
<li>
  <a href="https://github.com/albertlauncher/albert.git"><span class="hide-on-mobiles">View on </span>GitHub</a>
</li>
</ul>

  </nav>
</div>
</nav>
